@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,200&family=Roboto:wght@100&display=swap');


body {
    font-family: 'Roboto', sans-serif;
  }

  .top-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8vh;
    background-color: aqua;
  }

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(99, 94, 94);
    color: white;
    text-align: center;
 }
 
 .wrapper{
    display:grid;
    grid-template-columns: 30% 70%;
    /* grid-column-gap:1em ;
    grid-row-gap: 1em; */
    grid-gap:1em;
}

.wrapper > div{
    background-color: #eee;
    padding: 1em;
}

 .wrapper > div:nth-child(odd){
     background: #ddd;
 }

 .nav{
     border-bottom: 2px solid #dccccc45;
     display: flex;
     flex-direction: row;
     align-items: center;
     /* justify-content: space-between; */
 }

 .nav1{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}


 #navbarSupportedContent {
   align-items: center
 }
 .nav-links{
  margin-left: auto !important

 }
 .navd{
    display: flex;
    flex-direction: row;
 }
 .navdd{
     display: flex;
     flex-direction: column;
     margin-left: 10px;
 }
 
 .cost-space{
   word-spacing: 40px;
 }

 .color-size{
   width: 18px;
   height: 18px;
   
 }

 .vl{
   border-left: 4px solid #e8edee;
   height: 50px;
 }
 .nav-item{
   padding-inline: 5px;
  }
  .nav-item a:hover {
    border-bottom: 3px solid rgb(134, 195, 223);
  }
  .lis-color1{
    color: #eb8b0d;
  }
  
  .favcolor1{
    height: 15px;
    width: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    -webkit-appearance: none;
}

.favcolor1::-webkit-color-swatch-wrapper {
    padding: 0; 
}
.favcolor1::-webkit-color-swatch {
    border: none;
}

.favcolor2{
  height: 30px;
  width: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-appearance: none;
}

.chip {
  display: inline-block;
  margin-left: 4px;
  padding: 0px 25px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 40px;
  }

  .closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #000;
  }
  
  
  